.tabs .tab a{
    color:#90caf9;
    background-color: #fff;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#e3f2fd;
    
} /*Text color on hover*/

.tabs .tab a.active {
    color:#2196f3;
    background-color:#e3f2fd;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#2196f3;
} /*Color of underline*/